.primary-btn{
    padding: 10px 32px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: $primary;
    background: -webkit-linear-gradient( to right, $primary, $primary_dark);
    background: linear-gradient( to right, $primary, $primary_dark);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    min-width: 250px;
    text-align: center;
    display: inline-block;
    @include transition(all 0.3s ease-in);
    &:hover{
        background: -webkit-linear-gradient( to left, $primary, $primary_dark);
        background: linear-gradient( to left, $primary, $primary_dark);
        color: #fff;
    }
    &.bordered{
        background: none;
        border: 2px solid #fff;
        color: #fff;
        &:hover{
            background: #fff;
            color: $primary;
        }
    }
}